/* fonts */
@font-face {
    font-family: 'amblelight';
    src: url('Amble-Light-webfont.eot');
    src: url('Amble-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Amble-Light-webfont.woff') format('woff'),
         url('Amble-Light-webfont.ttf') format('truetype'),
         url('Amble-Light-webfont.svg#amblelight') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'ambleregular';
    src: url('Amble-Regular-webfont.eot');
    src: url('Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Amble-Regular-webfont.woff') format('woff'),
         url('Amble-Regular-webfont.ttf') format('truetype'),
         url('Amble-Regular-webfont.svg#ambleregular') format('svg');
    font-weight: normal;
    font-style: normal;
  
  }

  body
{
  background-color: #282728;
  font-family: 'amblelight', sans-serif;
}

h3, p, ul
{
  font-size: 0.8em;
}

/* propriétés du header */
header
{
    display: flex;
    justify-content: center;
    width: 950px;
    margin: 10px auto auto auto;
}

#photo
{
  text-align: center;
  background-color: #99e2d0;
  color: #ffffff;
  width: 275px;
}

#photo img
{
  border: 3.5px solid rgba(64, 64, 64, 0.2);
  border-radius: 50%;
  margin-top: 2em;
  margin-bottom: 2em;
}

#me
{
  font-family: 'ambleregular', sans-serif;
  background-color: #ffffff;
  color: #404040;
  width: 675px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 5px;
}

#me h1
{
  color: #99e2d0;
  font-size: 3em;
}

.name
{
  color: #404040;
  font-family: 'amblelight', sans-serif;
  font-weight: lighter;
}

#me h2
{
  font-weight: bold;
}

.border
{
  border-bottom: 1px solid #99e2d0;
  margin-right: 0px;
}

/* éléments généraux "main" */
main
{
  display: flex;
  width: 950px;
  margin: auto;
}

/* éléments "aside" de la page */

aside
{
  background-color: #99e2d0;
  width: 275px;
}

aside p
{
  text-align: left;
  padding: 3px 15px 3px 15px ;
  color: #404040;
}

.title_left
{
  background-color: #404040;
  color: #99e2d0;
  height: 35px;
  font-family: 'ambleregular', sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#contact
{
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 10px;
  font-family: 'ambleregular', sans-serif;
  font-weight: bold;
}

#about
{
  padding: 20px 10px 50px 10px;
}

#leisure
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 50px;
}

a
{
	color: #404040;
}

a:hover 
{
	color: darkred;
}

/* éléments "section" de la page */

section
{
  background-color: #ffffff;
  color: #404040;
  width: 675px;
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 10px;
}

h3
{
  font-size: 1em;
  font-family: 'ambleregular', sans-serif;
  font-weight: bold;
}

.title_right
{ font-family: 'ambleregular', sans-serif;
  font-weight: bold;
  height: 45px;
  border-bottom: 1px solid #99e2d0;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding-bottom: 8px;
}

.cursus
{
  display: flex;
	justify-content: space-between;
}

.company
{
  width: 80%;
}

.bold
{
  font-family: 'ambleregular', sans-serif;
  font-weight: bold;
}

/* éléments font-awesome */
span
{
  margin-right: 10px;
}

.icon
{
  display: flex;
	flex-direction: row;
  align-items: baseline;
  font-family: 'ambleregular', sans-serif;
  font-weight: bold;
  font-size: 1em;
}

.icon_title
{
  font-size: 1.5em; 
  color: #99e2d0;
  margin-right: 15px;
}

.icon_leisure
{
  margin-right: 0px;
  width: 45px;
  height: 45px;
  font-size: 1.9em;
  color: #404040;
  border: 2px solid #404040;
  border-radius: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.circle
{
  font-size: 0.6em; 
  color: #99e2d0;
}

.dot_circle
{
  font-size: 0.8em; 
  color: #99e2d0;
}

/*partie   responsive avec les media queries */
@media all and (max-width: 1000px)
{
  body
  {
    background-color: #ffffff;
  }

  header
  {
    width: auto;
    margin: auto;
    flex-direction: column;
  }

  h2
  {
    height: auto;
  }

  #photo img
{
  margin-bottom: 1em;
}

  #photo:nth-child(1)
  {
    order: 2;
    width: auto;
    padding-bottom: 10px;
  }

  #me:nth-child(2)
  {
    order: 1;
    width: auto;
    margin: 0px;
    padding-bottom: 15px;
    padding-top: 10px;
    text-align: center;
  }

  main
  {
    flex-direction: column;
    width: auto;
    margin: auto;
  }

  aside
  {
    width: auto;
    margin: auto;
  }

  #about, #contact
  {
    padding-bottom: 10px;
    padding-top : 10px;
  }

  #contact p
  {
    text-align: center;
  }

  #leisure
  {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  section
  {
    width: auto;
    margin: auto;
    padding: 15px;
  }

  .title_right
  {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    padding-bottom: 0px;
  }

  .cursus
  {
    flex-direction: column;
    justify-content: space-between;
  }

  .company
  {
    width: auto;
  }
  
  #recommendation
  {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
